*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
 display: flex;
 gap:2rem;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.para{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* for motion */

@view-transition{
  navigation:auto;
}        
::view-transition-group(root){
  animation-duration: 2s;
} 

  
  .card-img{
    width:90px;
    height:90px;
  }
  .hero-img{
    width:600px;
    height:300px;
  }
.card-img,.hero-img{
view-transition-name: article-img;

}

/* for no motion*/
/*
@media(prefers-reduced-motion:no-preference){
  @view-transition{
    navigation:auto;
  }
}
*/


.container{
  display: flex;
  justify-content: center;
  align-items: center; 
  
  gap:2rem;
}
.click-box{
  border:none;
height:50px;
width:50px;
background-color: rgb(11, 188, 108);
}
.click-box:hover{

background-color: rgb(7, 105, 61);
}

.click-1box{
  border:none;

  height:50px;
  width:50px;
  background-color: rgb(152, 88, 10);
  }
  .click-1box:hover{
    background-color: rgb(83, 48, 6);
  }

.click-3box{
  border:none;

    height:50px;
    width:50px;
    background-color: bisque;  }
    .click-3box:hover{
      
        background-color: rgb(122, 109, 95);  }

select{
  width:80px;
  font-size: 0.5rem;
  
  font-weight: bold;
  appearance:base-select;
  padding:0.5rem;
  border: 0.5px solid rgb(192, 162, 162);

  background-color: rgb(5, 5, 102);
  border-radius: 3px;

}
select::picker(select){
  width:80px;
  justify-content: center;
  appearance: base-select;
  background-color: rgb(5, 5, 102);
  padding: 0.5rem;
  border-radius: 2px;
  color:white;
  border: 0.5px solid rgb(192, 162, 162);

}

select option:hover{
  color:rgb(105, 96, 208);

  background-color: rgb(4, 4, 72);}
select option:checked{
  background-color: rgb(27, 45, 45);
  color:white;
}
select option::checkmark{
  color:greenyellow;
}


select::picker-icon{
 font-size: 0.5rem;
 align-items: center;
 transition: 0.2s ease
}

select:open::picker-icon{
  rotate:180deg;
}


